{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Aida Roshani - Resume </title>
<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">

      <!-- <div class="page-title">
                <h3>Resume</h3>
                <div class="page-subtitle">
                    <h4> 8 Years of Experience</h4>
                </div>
              </div> -->

      <div id="content" class="page-content site-content single-post" role="main">
        <div class="row">

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Education</h2>
            </div>

            <div id="timeline_1" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period ">2017-2021</h5>
                <span class="item-company">University of Tehran</span>
                <h4 class="item-title">Bachelor of Industrial Engineering
                </h4>
                <p>GPA - 17.8</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2008</h5>
                <span class="item-company">University of Studies</span>
                <h4 class="item-title">Graphic Design</h4>
                <p>Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis, feugiat risus quis,
                  aliquet urna. Quisque fringilla mollis risus, eu pulvinar dolor.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2007</h5>
                <span class="item-company">University of Studies</span>
                <h4 class="item-title">Frontend Development</h4>
                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed
                  mauris hendrerit, laoreet sem in, lobortis ante.</p>
              </div>

            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Experience</h2>
            </div>

            <div id="timeline_2" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period current">2016 - Current</h5>
                <span class="item-company">Rolling Thunder</span>
                <h4 class="item-title">Lead UI/UX Designer</h4>
                <p>Praesent dignissim sollicitudin justo, sed elementum quam lacinia quis. Phasellus eleifend
                  tristique posuere. Sed vitae dui nec magna.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2013 - 2016</h5>
                <span class="item-company">Locost Accessories</span>
                <h4 class="item-title">Senior UI/UX Designer</h4>
                <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare
                  felis id, congue libero. Nam volutpat euismod quam.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2011 - 2013</h5>
                <span class="item-company">Sagebrush</span>
                <h4 class="item-title">Junior UI/UX Designer</h4>
                <p>Duis mollis nunc quis quam viverra venenatis. Nulla nulla arcu, congue vitae nunc ac, sodales
                  ultricies diam. Nullam justo leo, tincidunt sit amet.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-20"></div>

                    <div class="block-title">
                      <h2>Certificates</h2>
                    </div>
                  </div>
                </div> -->

        <!-- <div class="row">
                  <div class=" col-xs-12 col-sm-6 ">
                    <a href="//lmpixels.com/wp/leven-wp/wp-content/uploads/2019/11/1.jpg" class="lightbox">
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="{% static './img/clients/client-7.png' %}" alt="logo">
                        </div>

                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>Psyhology of Intertnation Design</h4>
                          </div>

                          <div class="certi-id">
                            <span>Membership ID: XXXX</span>
                          </div>
                          <div class="certi-date">
                            <span>19 April 2018</span>
                          </div>

                          <div class="certi-company">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class=" col-xs-12 col-sm-6 ">
                    <a href="//lmpixels.com/wp/leven-wp/wp-content/uploads/2019/11/1.jpg" class="lightbox">
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="//lmpixels.com/wp/leven-wp/wp-content/uploads/2019/12/client-1.png" alt="logo">
                        </div>

                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>Psyhology of Intertnation Design</h4>
                          </div>

                          <div class="certi-id">
                            <span>Membership ID: XXXX</span>
                          </div>

                          <div class="certi-date">
                            <span>19 April 2018</span>
                          </div>

                          <div class="certi-company">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                </div> -->

        <!-- <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-40"></div>
                  </div>
                </div> -->

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-20"></div>

            <div class="block-title">
              <h2>Skills</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">
              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fa-solid fa-code"></i>
                </div>

                <div class="ci-text">
                  <h4>Languages</h4>
                  <ul>
                    <li style="margin-bottom: 5px;">
                      Python</li>
                    <li style="margin-bottom: 5px;">
                      Django</li>
                    <li style="margin-bottom: 5px;">
                      SQL</li>
                    <li style="margin-bottom: 5px;">
                      HTML</li>
                    <li style="margin-bottom: 5px;">
                      CSS</li>
                  </ul>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fa-solid fa-gears"></i>
                </div>

                <div class="ci-text">
                  <h4>Concepts</h4>
                  <ul>
                    <li style="margin-bottom: 5px;">
                      Python (Intermediate)</li>
                    <li style="margin-bottom: 5px;">
                      Django (Intermediate)</li>
                    <li style="margin-bottom: 5px;">
                      SQL (Intermediate)</li>
                    <li style="margin-bottom: 5px;">
                      HTML (Familiar)</li>
                    <li style="margin-bottom: 5px;">
                      CSS (Familiar)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fa-solid fa-network-wired"></i>
                </div>

                <div class="ci-text">
                  <h4>Frameworks</h4>
                  <ul>
                    <li style="margin-bottom: 5px;">
                      Python (Intermediate)</li>
                    <li style="margin-bottom: 5px;">
                      Django (Intermediate)</li>
                    <li style="margin-bottom: 5px;">
                      SQL (Intermediate)</li>
                    <li style="margin-bottom: 5px;">
                      HTML (Familiar)</li>
                    <li style="margin-bottom: 5px;">
                      CSS (Familiar)</li>
                  </ul>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fa-solid fa-code-branch"></i>
                </div>

                <div class="ci-text">
                  <h4>Utility</h4>
                  <ul>
                    <li style="margin-bottom: 5px;">
                      Git</li>
                    <li style="margin-bottom: 5px;">
                      Linux</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}