{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Aida Roshani - {{post.title}} </title>
<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div id="content" class="page-content site-content" role="main">
        <div class="ajax-page-nav">
          <div class="nav-item ajax-page-close-button">
              <a href="{% url 'blog:main' %}"><i class="lnr lnr-cross"></i></a>
          </div>
        </div>
        <article class="post">
          <header class="entry-header">
            <div class="entry-meta entry-meta-top">
              <span><a href="#" rel="category tag">WordPress</a></span>      
            </div><!-- .entry-meta -->

            <h2 class="entry-title">{{post.title}}</h2>
          </header><!-- .entry-header -->

          <div class="post-thumbnail">
            <img src="{{post.image.url}}" alt="{{post.title}}"/>
          </div>

          <div class="post-content">
            <div class="entry-content">

              <div class="row">
                <div class=" col-xs-12 col-sm-12 ">
                    <p>{{post.content}}</p>
                </div>
              </div>

            </div><!-- .entry-content -->
            <div class="entry-meta entry-meta-bottom">
              <div class="date-author">
                <span class="entry-date">
                  <a href="#" rel="bookmark">
                    <i class="far fa-clock"></i>
                    <time class="entry-date" datetime="2020-04-04T08:29:37+00:00">{{post.published_date|date:"F d, Y"}}</time>
                  </a>
                </span>

                <span class="author vcard">
                  <a class="url fn n" href="#" rel="author">
                    <i class="fas fa-user"></i>
                    <span>{{post.author.get_full_name}}</span>
                  </a>
                </span>
              </div>
            </div>

            <div class="post-tags">
              <span class="tags">
                <a href="#" rel="tag">design</a>
                <a href="#" rel="tag">plugin</a>
                <a href="#" rel="tag">WordPress</a>
              </span>
            </div>
            <div class="row">
              <div class=" col-xs-12 col-sm-2 ">
                <div class="entry-meta entry-meta-bottom">
                  <span class="entry-date">
                    <b><i class="fa-solid fa-chevron-left"></i>Previous Post</b>
                  </span>
                  <span class="author vcard">
                    <a class="url fn n" href="#" rel="author">
                      <span>Previous post title</span>
                    </a>
                  </span>
                  <p></p>
                </div>
              </div>
              <div class=" col-xs-12 col-sm-8 ">

              </div>
              <div class=" col-xs-12 col-sm-2 ">
                <div class="entry-meta entry-meta-bottom">
                  <span class="entry-date">
                    <b>Next Post <i class="fa-solid fa-chevron-right"></i></b>
                  </span>
                  <span class="author vcard">
                    <a class="url fn n" href="#" rel="author">
                      <span>Next post title</span>
                    </a>
                  </span>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div> 

{% endblock %}